* {margin: 0; padding: 0;}

#container { width: 900px; margin: 0 auto; background: #333;}

.header { padding: 20px; background:#fd0;}

#main {
background: #ccc); 
width: 640px;
height: 427px;
margin-left: 15%;
padding-top: 100px;
}

#main .content: { width: 60%; margin-left: 15%; }

.inner ol { padding: 2%; margin-left: 25%; color: #fff; }

.playlist {font: 22px/1.5em Verdana, Arial, sans-serif; }
.playlist li {margin-left: 1%; color: #fff;} 
.playlist ol li:last-child { margin-right: 0; }

h2 {font: 22px Verdana, Arial, sans-serif; text-align: center; padding: 5%; color: ##3B31AF;}
.content h2 {color: #fff;}

.footer {margin: 0; padding: 0; background-color: #fd0;}