body {
		font: 16px/1.5 Verdana, Arial, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: normal;
	font-family: "Trebuchet MS", Arial, sans-serif;
	line-height: 1.2;
	margin-bottom: 0.5em 0;
}

h1 { font-size: 2em; line-height: 1.1; }
h2 { font-size: 1.8em; }
h3 { font-size: 1.6em; }
h4 { font-size: 1.4em; }
h5 { font-size: 1.2em; }
h6 { font-size: 1em; font-weight: bold; }

p { 
	padding-bottom: 1.5em;
}