
th {
	border: 1px solid black;
	padding: 20px;
}

td {
	border: 1px solid black;
	padding: 20px;
}


.tablehead {
	background: red;
}


table {
	border: 1px solid grey;
	text-align: center;
	position: relative;
	margin-left: 250px;
	width: 960px;
}

body {
	text-align: center;
	background: lightgrey;
	font-family: Tahoma, Arial, sans-serif;
}

tfoot {
	font-style: italic;
	background: blue;
	padding: 10px;
}

tfoot td {
	padding: 10px;
}
