@import url(http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300);

* { padding: 0; margin: 0; } 

body { font: 16px/1.5 "Open Sans Condensed", Arial, sans-serif;}

body, html {height: 100%; overflow: hidden;}

img {width: 200px; height:200px;}

li, img {display:none;}

#container {height: 90%; background: #333; margin-top: 2.5%;}

#header, #main {margin: 0 5%; overflow: hidden;}

#header {height: 10%; background: #e3e3e3;}

#main { height: 90%; background: #ebebeb;}

.entry-wrapper {height: 100%; background: #e8e8e8;}

.entry {height: 100%; background: #ff0;}
.entry .gallery {height: 80%; overflow:hidden; background: #0FF;}
.entry .content {height: 20%; background: #333;}

.gallery ul { width: 4000px; height: 100%; overflow:hidden; background: #0F0;}
.gallery ul li { width: 600px; float: left; margin: 20 20 0 0;}
.gallery ul li a {display:block; width: 100%;}
.gallery ul li:first-child; {margin-left: 20px;}
.gallery ul li a img { width:100%; }