*{padding: 0; margin: 0;}

#container{ width: 900px; margin: 0 auto; background: #f5f7c9;}

header { padding: 20px; background:#69afcd; border-bottom: 5px solid #FFF}

section { background: #f5f7c9; overflow: hidden;}
section .content { width: 70%; background: #cde6f0;}
section .content .inner{border-left: 5px solid #FFF;}
section .content,
section .sidebar { padding: 0; float: left; color: #FFF; text-align: center;}
section .sidebar { width: 30%; background: #f5f7c9;}


section.sidebar-left .content,
section.sidebar-left .sidebar {float:right;}

footer { padding: 20px; background: #93989a; border-top: 5px solid #FFF;}

.content .inner,
.sidebar .inner { padding: 70px 20px;}