p, ol, ul, dl {
	padding-bottom: 40px;
}

ul li {

	list-style-type:lower-latin;
	padding-bottom: 20px;
}

ol li {
	padding-bottom: 20px;
	list-style-type: disc;
	padding-top: 20px;
}

dd {
	padding-left: 20px;
}

dt {
	padding-left: 20px;
	margin-top: 20px;
	margin-bottom: 20px;
}

img {
	padding-left: 20px;
}

h1 {
	border-bottom: 1px solid grey;
	line-height: 70px;
	padding-left: 40px;
}

p {
	padding-left: 40px;
}

h2, h3, h4, h5, h6 {
	padding-top: 40px;
	padding-left: 40px;
	border-bottom: solid 1px black;
	line-height: 40px;
}

th {
	border: 1px solid grey;
}

td {
border: 1px solid grey;
}

.old {
background: red;
}

.current {
background: green;
}

.future {
	background: blue;
}

.labels {
	background: transparent;
}